
<div class="body">
    <h1 class="title">Stock del Club</h1>
    <div class="head">
        
    <button><h3>Agregar Item</h3></button>
        <div class="filtros">
            <a class="filtro "href="">Filtros</a>
            <mat-icon>filter_alt</mat-icon>
        </div>
    

    </div>
    <div class="items">
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
    </div>
    
    
    
</div>



